## solutions in class exercise

In [3]:
import pandas as pd
import numpy as np

## Practice

Explore the arguments of `pd.read_csv()` methods. Open the csv with the following options: 

- using comma as separator, 
- indexing by year, 
- selecting only a smallet set of columns
- open only 10 rows after skipping the first 50
- parsing all dates as datetimes

In [ ]:
# fill your answer here

In [5]:
# my answer
pd.read_csv("WorldCups.csv", 
            sep = ",", # Separator in the data
            index_col="Year", # Set a variable to the index
            usecols = ["Year","Country", "Winner", "Runners-Up"], # Only request specific columns
            nrows = 3, # only read in n-rows of the data 
            na_values = "nan",
            parse_dates=True, # Parse all date features as datatime
            low_memory=True) # read the file in chunks for lower memory use (useful on large data)

            Country   Winner      Runners-Up
Year
1930-01-01  Uruguay  Uruguay       Argentina
1934-01-01    Italy    Italy  Czechoslovakia
1938-01-01   France    Italy         Hungary

## Practice

- Which two teams played the last world cup game in the data?
- Which Country hosted more worldcups?
- How many different countries have won a Worldcup?
- What is the range of years to which we have data for?

In [ ]:
# Add your response here

In [41]:
# last world cup
d.tail(1)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [45]:
# host
d.Country.describe()

count        20
unique       15
top       Italy
freq          2
Name: Country, dtype: object

In [46]:
# winner unique
d.Winner.describe()

count         20
unique         9
top       Brazil
freq           5
Name: Winner, dtype: object

In [47]:
# range
d.describe()

              Year  GoalsScored  QualifiedTeams  MatchesPlayed
count    20.000000    20.000000       20.000000      20.000000
mean   1974.800000   118.950000       21.250000      41.800000
std      25.582889    32.972836        7.268352      17.218717
min    1930.000000    70.000000       13.000000      17.000000
25%    1957.000000    89.000000       16.000000      30.500000
50%    1976.000000   120.500000       16.000000      38.000000
75%    1995.000000   145.250000       26.000000      55.000000
max    2014.000000   171.000000       32.000000      64.000000

## Practice 

Questions: 

- Open the Data
- Create a new dataset with  all columns the words event or actors
- Rename all columns replacing the the word event to "event_acled_south_america"
- Create three new columns: 
    - a binary representation for fatalities, 
    - a single columns combining the columns: "region",	"country",
     - a new column recoding the inter1 variable with three string labels. These labels should indicate when the iter1 variable is equal to its median, below the median and above the median values.

In [82]:
# read
import pandas as pd
acled_sa = pd.read_csv("south_america.csv")
acled_sa.columns

FileNotFoundError: [Errno 2] No such file or directory: 'south_america.csv'

In [15]:
acled_sa.filter(like="event").columns.to_list()

[['event_id_cnty', 'event_date', 'event_type', 'sub_event_type'], 'h']

In [31]:
# 2
colnames = acled_sa.filter(like="event").columns.to_list() + acled_sa.filter(like="actor").columns.to_list()
acled_sa[colnames]

# another solution
acled_sa.filter(regex="event|actor").head(5)

,event_id_cnty,event_date,event_type,sub_event_type,actor1,assoc_actor_1,actor2,assoc_actor_2
0,GUF216,29 September 2023,Protests,Peaceful protest,Protesters (French Guiana),NaN,NaN,NaN
1,ARG14050,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,NaN,NaN
2,ARG14057,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),NaN,NaN
3,ARG14104,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),NaN,NaN,NaN
4,BOL4911,29 September 2023,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),NaN,NaN

In [32]:
# rename
acled_sa.rename(columns={col: col.replace("event", "event_acled_south_america") for col in acled_sa.columns}).head(5)

,event_acled_south_america_id_cnty,event_acled_south_america_date,year,time_precision,disorder_type,event_acled_south_america_type,sub_event_acled_south_america_type,actor1,assoc_actor_1,inter1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,Saint-Laurent-du-Maroni,5.5010,-54.0294,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,Buenos Aires - Comuna 1,-34.6036,-58.3817,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,Cordoba,-31.4355,-64.2009,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,La Plata - Villa Elvira,-34.9294,-57.9192,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,Sucre,-19.0333,-65.2627,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132

In [46]:
# 4
(acled_sa.
     assign(fatality_bin=np.where(acled_sa["fatalities"]>0, 1, 0), 
            full_location=acled_sa["region"]+ "-" + acled_sa["country"], 
            inter_recoded=np.where(acled_sa["inter1"]==acled_sa["inter1"].median(), "Median Value", 
                                  np.where(acled_sa["inter1"]>acled_sa["inter1"].median(), 
                                          "Higher Median", "Below Median"))
           ).head(5)
)

,event_id_cnty,event_date,year,time_precision,disorder_type,event_type,sub_event_type,actor1,assoc_actor_1,inter1,...,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,inter_recoded,fatality_bin,full_location
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529,Higher Median,0,South America-French Guiana
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132,Higher Median,0,South America-Argentina
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132,Higher Median,0,South America-Argentina
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132,Higher Median,0,South America-Argentina
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132,Higher Median,0,South America-Bolivia

In [45]:
# solutions using np.select

median_value = acled_sa["inter1"].median()
# Define the conditions
conditions = [
    acled_sa['inter1'] < median_value,
    acled_sa['inter1'] == median_value,
    acled_sa['inter1'] > median_value
]

# Define the  output values
choices = ['below median', 'at median', 'above median']

# Use np.select 
acled_sa['inter_recoded'] = np.select(conditions, choices, default='N/A')

# see
acled_sa.filter(["inter1", "inter_recoded"])

        inter1 inter_recoded
0            6  above median
1            6  above median
2            6  above median
3            6  above median
4            6  above median
...        ...           ...
167582       6  above median
167583       3  below median
167584       3  below median
167585       3  below median
167586       3  below median

[167587 rows x 2 columns]

## Practice 

Using the same ACLED data from the previous exercise, answer:

1. What are the different event types recorded?

2. How many events are recorded for each year?

3. What’s the most common event type in the data?

4. Which countries had the highest number of reported fatalities?

In [58]:
# 1
acled_sa["event_type"].drop_duplicates().to_list()

['Protests',
 'Battles',
 'Strategic developments',
 'Violence against civilians',
 'Riots',
 'Explosions/Remote violence']

In [63]:
# 2
(acled_sa.groupby("year", as_index=False)
     ["year"]
     .size()
        )

   year   size
0  2018  28758
1  2019  26441
2  2020  26615
3  2021  30190
4  2022  32039
5  2023  23544

In [69]:
# 3 
(acled_sa.groupby("event_type", as_index=False)
     ["event_type"]
     .size()
     .sort_values("size", ascending=False)
     .reset_index(drop=True)
        )

                   event_type   size
0                    Protests  80850
1                     Battles  34042
2  Violence against civilians  30001
3                       Riots  13447
4      Strategic developments   6917
5  Explosions/Remote violence   2330

In [80]:
acled_sa.groupby("country", as_index=False)["fatalities"].sum().sort_values("fatalities", ascending=False)

             country  fatalities
2             Brazil       35842
4           Colombia       10553
13         Venezuela        8824
10              Peru         231
9           Paraguay         132
5            Ecuador         130
0          Argentina         117
3              Chile         108
1            Bolivia          88
11          Suriname          12
8             Guyana          11
12           Uruguay           7
7      French Guiana           2
6   Falkland Islands           0

## Practice

Using the World Cup Matches Datasets from the Data Wrangling Notebook:
    
1. Select the following columns: MatchID, Year, Stage, Home Team Name, Away Team Name, Home Team Goals, Away Team Goals.
    
2. Clean the column names.    
    
3. Convert this data to the long format, having both a single collumn for the team playing and the goals scored  

4. Which team have played more games in the history of the world cup?

5. Which team have a higher average of goals in the history of the world cup?

In [4]:
# load worldcup dataset
wc = pd.read_csv("WorldCups.csv")
wc_matches = pd.read_csv("WorldCupMatches.csv")

wc_matches

# 1 and 2
wc_copy = (wc_matches.filter(["MatchID", "Year", "Stage", "Home Team Name", "Away Team Name", "Home Team Goals", "Away Team Goals"]).
     rename(columns={col: col.lower().replace(" ", "_") for col in wc_matches.columns}).copy()
)

# 3
wc_home = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_name", "away_team_name"]).
    melt(id_vars=["matchid", "year", "stage"], 
             var_name="team_host", 
            value_name="team_name").
    assign(team_host= lambda x: x["team_host"].str.replace("_team_name", ""))
)

# 3
wc_goals = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_goals", "away_team_goals"]).
    melt(id_vars=["matchid","year", "stage"], 
             var_name="team_host", 
            value_name="team_goals").
    filter(["matchid","team_host", "team_goals"])
    
)

# 3
wc_tidy = pd.concat([wc_home, wc_goals],axis=1)

wc_tidy

# 4
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_name"]
     .size()
     .sort_values("size", ascending=False)
)        


# 5
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_goals"]
     .agg(["mean", "count"])
     .sort_values("mean", ascending=False). 
    head(10)
)

                  mean  count
team_name
Hungary       2.718750     32
Germany       2.166667     48
Germany FR    2.112903     62
Brazil        2.083333    108
Turkey        2.000000     10
France        1.770492     61
Soviet Union  1.709677     31
Denmark       1.687500     16
Netherlands   1.685185     54
Cuba          1.666667      3