## solutions in class exercise

In [3]:
import pandas as pd
import numpy as np

## Practice I - Data loading

Explore the arguments of `pd.read_csv()` methods. Open the csv (WorldCups.csv) with the following options: 

- using comma as separator, 
- indexing by year, 
- selecting only a smallet set of columns
- open only 10 rows after skipping the first 5
- parsing all dates as datetimes

In [44]:
# my answer
pd.read_csv("WorldCups.csv", 
            sep = ",", # Separator in the data
            index_col="Year", # Set a variable to the index
            usecols = ["Year","Country", "Winner", "Runners-Up"], # Only request specific columns
            nrows = 10, # only read in n-rows of the data 
            na_values = "nan",
            parse_dates=True, # Parse all date features as datatime
            low_memory=True, 
            skiprows= np.arange(1, 5)) # read the file in chunks for lower memory use (useful on large data)

                Country      Winner      Runners-Up
Year
1954-01-01  Switzerland  Germany FR         Hungary
1958-01-01       Sweden      Brazil          Sweden
1962-01-01        Chile      Brazil  Czechoslovakia
1966-01-01      England     England      Germany FR
1970-01-01       Mexico      Brazil           Italy
1974-01-01      Germany  Germany FR     Netherlands
1978-01-01    Argentina   Argentina     Netherlands
1982-01-01        Spain       Italy      Germany FR
1986-01-01       Mexico   Argentina      Germany FR
1990-01-01        Italy  Germany FR       Argentina

## Practice II - Data Loading

- Which two teams played the last world cup game in the data?
- Which Country hosted more worldcups?
- How many different countries have won a Worldcup?
- What is the range of years to which we have data for?

In [45]:
# Add your response here
d = pd.read_csv("WorldCups.csv")

In [48]:
# last world cup game is always the final. Germany vs Argentina
d.tail(1)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810

In [49]:
# host
d.Country.describe()

count        20
unique       15
top       Italy
freq          2
Name: Country, dtype: object

In [50]:
# winner unique
d.Winner.describe()

count         20
unique         9
top       Brazil
freq           5
Name: Winner, dtype: object

In [51]:
# range
d.describe()

              Year  GoalsScored  QualifiedTeams  MatchesPlayed
count    20.000000    20.000000       20.000000      20.000000
mean   1974.800000   118.950000       21.250000      41.800000
std      25.582889    32.972836        7.268352      17.218717
min    1930.000000    70.000000       13.000000      17.000000
25%    1957.000000    89.000000       16.000000      30.500000
50%    1976.000000   120.500000       16.000000      38.000000
75%    1995.000000   145.250000       26.000000      55.000000
max    2014.000000   171.000000       32.000000      64.000000

## Practice I - Data Wrangling

Questions: 

- Open the Data
- Create a new dataset with  all columns the words event or actors
- Rename all columns replacing the the word event to "event_acled_south_america"
- Create three new columns: 
    - a binary representation for fatalities, 
    - a single columns combining the columns: "region",	"country",
     - a new column recoding the inter1 variable with three string labels. These labels should indicate when the iter1 variable is equal to its median, below the median and above the median values.

In [52]:
# read
import pandas as pd
acled_sa = pd.read_csv("acled_south_america.csv")
acled_sa.columns

Index(['event_id_cnty', 'event_date', 'year', 'time_precision',
       'disorder_type', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'civilian_targeting', 'iso', 'region', 'country',
       'admin1', 'admin2', 'admin3', 'location', 'latitude', 'longitude',
       'geo_precision', 'source', 'source_scale', 'notes', 'fatalities',
       'tags', 'timestamp'],
      dtype='object')

In [54]:
# 2
colnames = acled_sa.filter(like="event").columns.to_list() + acled_sa.filter(like="actor").columns.to_list()
acled_sa[colnames]

,event_id_cnty,event_date,event_type,sub_event_type,actor1,assoc_actor_1,actor2,assoc_actor_2
0,GUF216,29 September 2023,Protests,Peaceful protest,Protesters (French Guiana),NaN,NaN,NaN
1,ARG14050,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,NaN,NaN
2,ARG14057,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),NaN,NaN
3,ARG14104,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),NaN,NaN,NaN
4,BOL4911,29 September 2023,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),NaN,NaN
...,...,...,...,...,...,...,...,...
167582,VEN8468,01 January 2018,Protests,Excessive force against protesters,Protesters (Venezuela),Women (Venezuela),Military Forces of Venezuela (1999-) GNB: Vene...,NaN
167583,BRA31568,01 January 2018,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Gang (Brazil),NaN,NaN,NaN
167584,VEN15145,01 January 2018,Violence against civilians,Attack,Unidentified Armed Group (Venezuela),NaN,Civilians (Venezuela),NaN
167585,COL12093,01 January 2018,Violence against civilians,Attack,Unidentified Armed Group (Colombia),NaN,Civilians (Colombia),NaN
167586,COL3347,01 January 2018,Explosions/Remote violence,Remote explosive/landmine/IED,Unidentified Armed Group (Colombia),NaN,Civilians (Colombia),NaN

In [55]:
# another solution
acled_sa.filter(regex="event|actor").head(5)

,event_id_cnty,event_date,event_type,sub_event_type,actor1,assoc_actor_1,actor2,assoc_actor_2
0,GUF216,29 September 2023,Protests,Peaceful protest,Protesters (French Guiana),NaN,NaN,NaN
1,ARG14050,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,NaN,NaN
2,ARG14057,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),NaN,NaN
3,ARG14104,29 September 2023,Protests,Peaceful protest,Protesters (Argentina),NaN,NaN,NaN
4,BOL4911,29 September 2023,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),NaN,NaN

In [56]:
# rename
acled_sa = acled_sa.rename(columns={col: col.replace("event", "event_acled_south_america") for col in acled_sa.columns}).head(5)
acled_sa

,event_acled_south_america_id_cnty,event_acled_south_america_date,year,time_precision,disorder_type,event_acled_south_america_type,sub_event_acled_south_america_type,actor1,assoc_actor_1,inter1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,tags,timestamp
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,Saint-Laurent-du-Maroni,5.5010,-54.0294,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,Buenos Aires - Comuna 1,-34.6036,-58.3817,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,Cordoba,-31.4355,-64.2009,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,La Plata - Villa Elvira,-34.9294,-57.9192,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,Sucre,-19.0333,-65.2627,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132

In [57]:
# 4
import numpy as np
(acled_sa.
     assign(fatality_bin= np.where(acled_sa["fatalities"]>0, 1, 0), 
            full_location= acled_sa["region"]+ "-" + acled_sa["country"], 
            inter_recoded= np.where(acled_sa["inter1"]==acled_sa["inter1"].median(), "Median Value", 
                            np.where(acled_sa["inter1"]>acled_sa["inter1"].median(), 
                                          "Higher Median", "Below Median"))
           ).head(5)
)

,event_acled_south_america_id_cnty,event_acled_south_america_date,year,time_precision,disorder_type,event_acled_south_america_type,sub_event_acled_south_america_type,actor1,assoc_actor_1,inter1,...,geo_precision,source,source_scale,notes,fatalities,tags,timestamp,fatality_bin,full_location,inter_recoded
0,GUF216,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (French Guiana),NaN,6,...,1,France Info,International,"On 29 September 2023, in Saint-Laurent-du-Maro...",0,crowd size=around 100,1696264529,0,South America-French Guiana,Median Value
1,ARG14050,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),CGT: General Confederation of Labour; CTA: Arg...,6,...,1,Diario Jornada; La Prensa (Argentina),National,"On 29 September 2023, in Buenos Aires - Comuna...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
2,ARG14057,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),Labor Group (Argentina),6,...,1,La Voz del Interior (Argentina),Subnational,"On 29 September 2023, in Cordoba (Capital, Cor...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
3,ARG14104,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Argentina),NaN,6,...,1,Diario El Dia,Subnational,"On 29 September 2023, in La Plata - Villa Elvi...",0,crowd size=no report,1696273132,0,South America-Argentina,Median Value
4,BOL4911,29 September 2023,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (Bolivia),Labor Group (Bolivia),6,...,1,Correo del Sur,Subnational,"On 29 September 2023, in Sucre (Chuquisaca), u...",0,crowd size=no report,1696273132,0,South America-Bolivia,Median Value

In [41]:
# solutions using np.select
median_value = acled_sa["inter1"].median()

# Define the conditions
conditions = [
    acled_sa['inter1'] < median_value,
    acled_sa['inter1'] == median_value,
    acled_sa['inter1'] > median_value
]

# Define the  output values
choices = ['below median', 'at median', 'above median']

# Use np.select 
acled_sa['inter_recoded'] = np.select(conditions, choices, default='N/A')

# see
acled_sa.filter(["inter1", "inter_recoded"])

   inter1 inter_recoded
0       6     at median
1       6     at median
2       6     at median
3       6     at median
4       6     at median

## Practice II - Data Wrangling

Using the same ACLED data from the previous exercise, answer:

1. What are the different event types recorded?

2. How many events are recorded for each year?

3. What’s the most common event type in the data?

4. Which countries had the highest number of reported fatalities?

In [59]:
# 1
acled_sa = pd.read_csv("acled_south_america.csv")
acled_sa["event_type"].drop_duplicates().to_list()

['Protests',
 'Battles',
 'Strategic developments',
 'Violence against civilians',
 'Riots',
 'Explosions/Remote violence']

In [60]:
# 2
(acled_sa.groupby("year", as_index=False)
     ["year"]
     .size()
        )

   year   size
0  2018  28758
1  2019  26441
2  2020  26615
3  2021  30190
4  2022  32039
5  2023  23544

In [61]:
# 3 
(acled_sa.groupby("event_type", as_index=False)
     ["event_type"]
     .size()
     .sort_values("size", ascending=False)
     .reset_index(drop=True)
        )

                   event_type   size
0                    Protests  80850
1                     Battles  34042
2  Violence against civilians  30001
3                       Riots  13447
4      Strategic developments   6917
5  Explosions/Remote violence   2330

In [62]:
acled_sa.groupby("country", as_index=False)["fatalities"].sum().sort_values("fatalities", ascending=False)

             country  fatalities
2             Brazil       35842
4           Colombia       10553
13         Venezuela        8824
10              Peru         231
9           Paraguay         132
5            Ecuador         130
0          Argentina         117
3              Chile         108
1            Bolivia          88
11          Suriname          12
8             Guyana          11
12           Uruguay           7
7      French Guiana           2
6   Falkland Islands           0